// custom variables need to happend BEFORE importing bootstrap
$primary: #ececec;
$highlight: #ffffff;
$shadow: rgba(70, 70, 70, 0.12);
$textdark: #303030;
$progress: #8b5c39;

$altprimary: #202121;
$althighlight: #514f4f;
$altshadow: #111213;

@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

$custom-theme-colors: (
	"primary": $primary,
	"highlight": $highlight,
	"shadow": $shadow,
	"textdark": $textdark,
	"progress": $progress,
	"altprimary": $altprimary,
	"althighlight": $althighlight,
	"altshadow": $altshadow,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap LAST OF ALL!
@import "~bootstrap/scss/bootstrap.scss";
