/*------------------------------*/
/*---BASIC OVERRIDES STYLING ---*/
/*------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body,
#root {
  background-color: var(--bs-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
  padding-top: 60px;
  /* min-height: calc(100vh - 72px); */
  color: var(--bs-textdark);
}

footer {
  width: 100%;
  z-index: 999;
  height: 40px;
  border: 2px solid var(--bs-primary);
  border-radius: 0.625rem;
  outline: none;
  box-shadow: -5px -5px 5px var(--bs-highlight), 5px 5px 5px var(--bs-shadow);
}

/*----------------------------*/
/*---------FOOTER CSS---------*/
/*----------------------------*/
.neu-footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/*-----------------------*/
/*---HOME LANDING PAGE---*/
/*-----------------------*/
.neu-home-company-name {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}

/*-------------------------*/
/*---BASIC NEU TEMPLATES---*/
/*-------------------------*/
.neu-hard-outer {
  border: 2px solid var(--bs-primary);
  outline: none;
  box-shadow: -5px -5px 5px var(--bs-highlight), 5px 5px 5px var(--bs-shadow);
  margin: 0;
  padding: 0;
}

.neu-hard-inner {
  border: 2px solid var(--bs-primary);
  box-shadow: inset 3px 3px 2px var(--bs-shadow),
    inset -2px -2px 2px var(--bs-highlight);
}

.neu-soft-outer {
  box-shadow: -10px -10px 30px 0px var(--bs-highlight),
    10px 10px 30px 0px var(--bs-shadow),
    -10px -10px 10px 0px var(--bs-shadow) inset,
    10px 10px 10px 0px var(--bs-highlight);
}

.neu-soft-inner {
  box-shadow: 10px 10px 30px 0px var(--bs-highlight),
    -10px -10px 30px 0px var(--bs-shadow),
    10px 10px 10px 0px var(--bs-shadow) inset,
    -10px -10px 10px 0px var(--bs-highlight) inset;
}

/*------------------------------*/
/*-----------CARD CSS-----------*/
/*------------------------------*/
/* .neu-grid {
} */
/* .neu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
} */

.neu-card {
  background-color: var(--bs-primary);
  border-radius: 0.625rem;
  border: 2px solid var(--bs-primary);
  outline: none;
  margin-bottom: 1rem;
  box-shadow: -5px -5px 5px var(--bs-highlight), 5px 5px 5px var(--bs-shadow);
}

.card-text {
  margin-bottom: 0.8rem;
}

.neu-card-section {
  border-radius: 0.625rem;
  border: 2px solid var(--bs-primary);
  outline: none;
  padding: 0 0.825rem;
  margin-bottom: 1rem;
  box-shadow: -5px -5px 5px var(--bs-highlight), 5px 5px 5px var(--bs-shadow);
}

.neu-card-section p {
  font-size: 1.2rem;
  margin-bottom: 0.825rem;
  border-radius: 0.625rem;
  border: 2px solid var(--bs-primary);
  box-shadow: inset 3px 3px 5px var(--bs-shadow),
    inset -2px -2px 4px var(--bs-highlight);
}

.neu-card-section p:first-child {
  margin-top: 0.825rem;
}

.neu-card-inset {
  box-shadow: inset 2px 2px 5px var(--bs-shadow),
    inset -3px -3px 7px var(--bs-highlight);
}

.neu-breaker {
  background-color: var(--bs-neuorange);
  width: 90%;
  height: 4px;
  border-radius: 0.2rem;
  transform: translate(5%);
  box-shadow: inset -1px -1px 1px var(--bs-highlight),
    inset 1px 1px 1px var(--bs-shadow);
}

.neu-breaker-projects {
  background-color: var(--bs-neupurple);
  width: 90%;
  height: 4px;
  border-radius: 0.2rem;
  transform: translate(5%);
  margin: 1rem 0 2rem 0;
  box-shadow: inset -1px -1px 1px var(--bs-highlight),
    inset 1px 1px 1px var(--bs-shadow);
}

.neu-prog {
  display: flex;
  margin-bottom: 0.825rem;
  border-radius: 0.55rem;
  height: 1.2rem;
  text-align: center;
  border-radius: 0.55rem;
  border: 0.0625rem solid var(--bs-primary);
  overflow: hidden;
  box-shadow: -3px -3px 7px var(--bs-highlight), 2px 2px 5px var(--bs-shadow);
}

.neu-prog-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--bs-highlight);
  height: 100%;
  border-radius: 0.55rem;
  white-space: nowrap;
}

.neu-card-status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  margin: 5px;
  font-size: 1.2rem;
}

.neu-card-active {
  font-weight: bold;
  border-radius: 0.4rem;
  padding: 2px 8px;
  color: transparent !important;
  color: var(--bs-neugreen) !important;
  box-shadow: inset 3px 3px 5px var(--bs-shadow),
    inset -2px -2px 4px var(--bs-highlight);
}

.neu-card-next {
  font-weight: bold;
  border-radius: 0.4rem;
  padding: 2px 8px;
  color: var(--bs-neuturquoise) !important;
  box-shadow: inset 3px 3px 5px var(--bs-shadow),
    inset -2px -2px 4px var(--bs-highlight);
}

.neu-card-pause {
  font-weight: bolder;
  border-radius: 0.4rem;
  padding: 2px 8px;
  color: var(--bs-neured) !important;
  box-shadow: inset 3px 3px 5px var(--bs-shadow),
    inset -2px -2px 4px var(--bs-highlight);
}

.neu-card-done {
  font-weight: bolder;
  border-radius: 0.4rem;
  padding: 2px 8px;
  color: var(--bs-neupurple) !important;
  box-shadow: inset 3px 3px 5px var(--bs-shadow),
    inset -2px -2px 4px var(--bs-highlight);
}

.neu-prog-inv {
  box-shadow: inset 2px 2px 2px var(--bs-highlight),
    inset -2px -2px 2px var(--bs-shadow);
}

.neu-img {
  height: 200px;
  width: 200px;
  margin-bottom: 70px;
  border-radius: 50%;
  border: 1px solid var(--bs-primary);

  box-shadow: -8px -8px 5px var(--bs-highlight), 8px 8px 5px var(--bs-shadow);
}

/*--------------------------------*/
/*---------NAVIGATION CSS---------*/
/*--------------------------------*/
.neu-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  height: 60px;
  margin: 0;
  padding: 0;
  border: 2px solid var(--bs-primary);
  border-radius: 0.625rem;
  outline: none;
  box-shadow: -5px -5px 5px var(--bs-highlight), 5px 5px 5px var(--bs-shadow);
  background-color: var(--bs-primary);
}



.neu-nav-item,
.logout-link {
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--bs-shadow), -5px -5px 10px var(--bs-highlight);
  background-color: var(--bs-primary);
  border: 2px solid transparent;
}

.logout-link {
  display: none;
  cursor: pointer;
}

.neu-nav-item:hover,
.neu-nav-item-active,
.logout-link:hover,
.logout-link-active {
  border: 2px solid var(--bs-neuturquoise);
  box-shadow: inset 5px 5px 10px var(--bs-shadow),
    inset -5px -5px 10px var(--bs-highlight);
}

.neu-nav-notification-new-msg {
  position: relative;
  border-radius: 50%;
  height: 100%;
  width: 40px;
  border: 2px solid transparent;
  outline: none;
  background-color: transparent;
  box-shadow: -5px -5px 10px var(--bs-highlight), 5px 5px 10px var(--bs-shadow);
  color: var(--bs-neured);
}

.neu-nav-notification-new-msg i {
  color: var(--bs-neured);
}

.neu-nav-notification-new-msg::after {
  content: "!";
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--bs-neured);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3),
    inset 1px 1px 2px var(--bs-highlight), inset -1px -1px 2px var(--bs-shadow);
}

.neu-nav-notification-new-msg:hover {
  box-shadow: inset 3px 3px 6px var(--bs-shadow),
    inset -3px -3px 6px var(--bs-highlight);
}

.neu-nav-notification-new-msg:hover::after {
  box-shadow: inset 1px 1px 2px var(--bs-shadow),
    inset -1px -1px 2px var(--bs-highlight);
}

.neu-nav-notification-off {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid var(--bs-primary);
  outline: none;
  box-shadow: inset -3px -3px 6px var(--bs-highlight),
    inset 3px 3px 6px var(--bs-shadow);
}

.neu-hidden {
  display: none;
}

.neu-hidden i {
  visibility: visible;
}

.neu-nav-user-container {
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0;
  margin: 0 1rem;
  min-width: 50px;
  border-radius: 0.625rem;
  /* margin-left: 20px; */
  box-shadow:
    inset 3px 3px 7px var(--bs-shadow),
    inset -2px -2px 5px var(--bs-highlight);
}

.neu-online-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.4) translate(70%);
  padding: 2px;
  color: var(--bs-neugreen);
  background-color: var(--bs-primary);
  border-radius: 50%;
  transition: all 1s ease;
  box-shadow: -2px -2px 4px var(--bs-highlight), 2px 2px 4px var(--bs-shadow);
}

.neu-offline-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.4) translate(-70%);
  padding: 2px;
  color: var(--bs-textdark);
  background-color: var(--bs-primary);
  border-radius: 50%;
  transition: all 1s ease-in-out;
  box-shadow: -2px -2px 4px var(--bs-highlight), 2px 2px 4px var(--bs-shadow);
}

/*Medium to small size screens*/

@media (max-width: 990px) {

  .neu-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1500;
    height: 60px;
    margin: 0;
    padding: 0;
    border: 2px solid var(--bs-primary);
    border-radius: 0.625rem;
    outline: none;
    box-shadow:
      -5px -5px 5px var(--bs-highlight),
      5px 5px 5px var(--bs-shadow);
    background-color: var(--bs-primary);
  }

  .navbar-brand {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    font-weight: 900;
    color: var(--bs-textdark) !important;
    text-shadow:
      -2px -2px 4px var(--bs-highlight),
      2px 2px 4px var(--bs-shadow);
  }

  .neu-nav-user-container {
    position: absolute;
    right: 110px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
  }

  .neu-online-icon {
    transform: scale(1.4) translate(20%);
  }

  .neu-offline-icon {
    transform: scale(1.4) translate(-100%);
  }



  .neu-nav-notification-new-msg,
  .neu-nav-notification-off {
    position: absolute;
    top: 50;
    right: 190px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 2;
  }

  .neu-nav-item:first-child {
    margin-top: 20px;
  }

  .logout-link {
    display: block;
  }

  .neu-nav-item,
  .logout-link {
    margin-right: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow:
      2px 2px 4px var(--bs-shadow),
      -2px -2px 4px var(--bs-highlight);
    background-color: var(--bs-primary);
    border: 1px solid transparent;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    text-align: center;
  }

  .neu-nav-item-active {
    border: 2px solid var(--bs-neuturquoise);
    box-shadow:
      inset 2px 2px 4px var(--bs-shadow),
      inset -2px -2px 4px var(--bs-highlight);
  }

  .navbar-toggler {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--bs-primary);
    border: none;
    border-radius: 10px;
    box-shadow:
      -2px -2px 2px var(--bs-highlight),
      2px 2px 2px var(--bs-shadow);
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-toggler:active {
    box-shadow: 5px 5px 10px var(--bs-shadow),
      -5px -5px 10px var(--bs-highlight);
  }

  .navbar-toggler.pressed {
    box-shadow: inset 5px 5px 10px var(--bs-shadow),
      inset -5px -5px 10px var(--bs-highlight);
  }

  .navbar-toggler:focus {
    box-shadow: inset 5px 5px 10px var(--bs-shadow),
      inset -5px -5px 10px var(--bs-highlight);
  }

  .navbar-collapse {
    position: fixed;
    top: 60px;
    right: 0%;
    width: 100%;
    padding-top: 0;
    background-color: var(--bs-primary);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    box-shadow: -2px 0 8px var(--bs-shadow);
    z-index: 1050;
  }

  .navbar-collapse.show {
    transform: translateX(0);
  }

}

@media (max-width: 450px) {
  .neu-nav-user-container {
    display: none;
  }

  .neu-nav-notification-new-msg,
  .neu-nav-notification-off {
    position: absolute;
    top: 50;
    right: 80px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 2;
  }
}

/*-------------------------------*/
/*-----------MODAL CSS-----------*/
/*-------------------------------*/
.neu-modal-overlay {
  z-index: 50;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 500px !important;
  min-width: 350px !important;
  max-height: calc(100vh - 60px - 5.5rem);
  overflow: auto;
  margin: 0;
  padding: 0.625rem;
  border-radius: 0.625rem;
  color: var(--bs-textdark);
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
  outline: none;
  box-shadow: -8px -8px 10px var(--bs-highlight), 8px 8px 10px var(--bs-shadow);
}

.neu-modal-close-button {
  position: absolute;
  right: 0px;
  top: 0;
  margin: 8px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  color: var(--bs-textdark);
  height: 28px;
  width: 28px;
  font-size: 1rem;
  border: 2px solid var(--bs-primary);
  outline: none;
  text-decoration: none;
}

.neu-modal-close-button:hover {
  color: var(--bs-neured) !important;
  border: 2px solid var(--bs-primary);
  border-radius: 50%;
  box-shadow: inset -2px -2px 2px var(--bs-highlight),
    inset 2px 2px 3px var(--bs-shadow);
}

.neu-modal-title {
  text-align: center;
  flex: 1;
  margin: 0 0.625rem;
  padding: 0.625rem;
}

.neu-modal-title p {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.neu-modal-divider {
  width: 90%;
  margin-bottom: 0.625rem;
  padding: 0;
  height: 5px;
  border: 2px solid var(--bs-primary);
  border-radius: 0.1625rem;
  box-shadow: inset 2px 2px 2px var(--bs-neuorange),
    inset -2px -2px 2px var(--bs-highlight);
}

.neu-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.neu-error-border {
  border: 2px solid var(--bs-neured) !important;
}

/*---------------------------------------------------*/
/*-----------MODAL NOTYIFY ADMIN MODAL CSS-----------*/
/*---------------------------------------------------*/
.neu-project-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.625rem;
  width: 100%;
  height: 100%;
}

.neu-project-link-content {
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0.625rem;
  padding: 0.625rem;
  border: 2px solid var(--bs-primary);
  border-radius: 0.625rem;
  box-shadow: inset 3px 3px 7px var(--bs-shadow),
    inset -2px -2px 5px var(--bs-highlight);
}

.neu-project-info {
  width: 100%;
  height: 100%;
  text-align: left;
  text-wrap: pretty;
  overflow: hidden;
  outline: none;
  border: 2px solid var(--bs-primary);
  border-radius: 0.625rem;
}

.neu-notification-reminder {
  outline: none;
  width: 100%;
  height: 100%;
  margin-bottom: 0.625rem;
  border: 2px solid var(--bs-primary);
  border-radius: 0.625rem;

}

.neu-notification-reminder p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.project-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  border: 2px solid var(--bs-primary);
  border-radius: 0.625rem;
  box-shadow: 2px 2px 2px var(--bs-shadow), -2px -2px 2px var(--bs-highlight);
}

.project-name:hover {
  border: 2px solid var(--bs-primary);
  border-radius: 0.625rem;
  cursor: pointer;
  box-shadow: inset 2px 2px 2px var(--bs-shadow),
    inset -2px -2px 2px var(--bs-highlight);
}

.overage-hours {
  color: var(--bs-neured);
  font-weight: 600;
}

/*----------------------*/
/*-------FORM CSS-------*/
/*----------------------*/
.neu-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.neu-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.neu-form-group label {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0;
}

.neu-form-controll,
.neu-form-select {
  color: var(--bs-textdark) !important;
  text-indent: 0.625rem !important;
  background-color: transparent !important;
  border: 2px solid transparent !important;
  margin: 0.625rem !important;
  padding: 0.625rem !important;
  outline: none !important;
  width: 100% !important;
  border-radius: 0.625rem !important;
  box-shadow: inset 3px 3px 7px var(--bs-shadow),
    inset -2px -2px 5px var(--bs-highlight) !important;
}

.neu-selected.neu-part-of-project {
  color: var(--bs-textdark) !important;
  background-color: transparent !important;
  border: 2px solid var(--bs-neupurple) !important;
  box-shadow: inset 3px 3px 7px var(--bs-shadow),
    inset -2px -2px 5px var(--bs-highlight) !important;
}

.neu-not-selected.neu-part-of-project,
.neu-selected.neu-not-part-of-project {
  color: var(--bs-textdark) !important;
  background-color: transparent !important;
  border: 2px solid var(--bs-neugreen) !important;
  box-shadow: inset 3px 3px 7px var(--bs-shadow),
    inset -2px -2px 5px var(--bs-highlight) !important;
}

.neu-not-selected.neu-not-part-of-project {
  color: var(--bs-textdark) !important;
  background-color: transparent !important;
  border: 2px solid transparent !important;
}

/* .neu-form-select:focus {
  user-select: none;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--bs-neupurple);
  box-shadow:
    inset 3px 3px 7px var(--bs-shadow),
    inset -2px -2px 5px var(--bs-highlight);
} */

.neu-max-400 {
  max-width: 400px;
}

.neu-form-1b,
.neu-form-2b,
.neu-form-3b,
.neu-form-4b {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.625rem;
  padding: 0.625rem;
  width: 100%;
}

.neu-form-1b button {
  width: 100%;
}

.neu-form-2b button {
  width: 48%;
}

.neu-form-3b button {
  width: 30%;
}

.neu-form-4b button {
  width: 21%;
}

/* select option:checked {
  background-color: transparent;
  appearance: none;
  width: 100%;

  border: 1px solid var(--bs-neuorange);
} */

/* 
.neu-form:focus-within .neu-form-select:focus-within .neu-selected {
  background-color: var(--bs-neugreen) !important;
  color: var(--bs-textdark) !important;
  font-size: 2rem;
} */

/* .neu-form:focus-within .neu-form-select:focus-within .neu-selected:checked {
  appearance: none;
  width: 100%;
  border: 1px solid var(--bs-neuorange);
  background-color: var(--bs-neugreen);
} */

/* 
.neu-form-select .neu-selected {
  background-color: transparent;

} */

/* .neu-selected {
  border: 1px solid var(--bs-neupurple);
  box-shadow:
    inset 3px 3px 7px var(--bs-shadow),
    inset -2px -2px 5px var(--bs-highlight);
}

.neu-not-selected {
  background-color: transparent;
  border: 1px solid var(--bs-primary);
}
 */

/* .neu-form-select:focus option:checked {
  background-color: red !important;
  text-align: center !important;
} */

/* select:-moz-select-list-box {
  overflow-inline: auto !important;
  overflow-block: scroll !important;
  padding-inline: 5px !important;
  background-color: transparent !important;
  color: var(--bs-textdark) !important;
  vertical-align: text-bottom !important;
  appearance: none !important;
  -moz-default-appearance: none !important;
}

select:-moz-select-list-box {
  color: var(--bs-textdark) !important;
} */

/* 
CUSTOM DIVIDER BETWEEN EACH CHILD, SKIPING LAST CHILD
.neu-project-link-container p:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -0.8rem;
  margin: 0;
  padding: 0;
  left: 1.5%;
  width: 96%;
  height: 5px;
  border: 2px solid var(--bs-primary);
  border-radius: 0.1625rem;

  box-shadow:
    inset 2px 2px 2px var(--bs-neuorange),
    inset -2px -2px 2px var(--bs-highlight);
} 
*/

/*--------------------------------------*/
/*-------SEARCH (TIME REPORT) CSS-------*/
/*--------------------------------------*/
.neu-search-container {
  border-radius: 0.625rem;
  padding: 0.5rem;
  box-shadow: 3px 3px 7px var(--bs-shadow), -2px -2px 5px var(--bs-highlight);
  width: 100%;
  height: 50%;

  border-radius: 0.625rem;
  overflow: hidden;
  box-shadow: inset 4px 4px 7px var(--bs-shadow),
    inset -3px -3px 5px var(--bs-highlight);
}

.title-text-search-date {
  color: var(--bs-neupurple);
}

/*-----------------------*/
/*-------TABLE CSS-------*/
/*-----------------------*/

.inner-container {
  width: 70%;
}

@media (max-width: 1400px) {
  .inner-container {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .inner-container {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .inner-container {
    width: 100%;
  }
}

.edit-timereport-button {
  height: 35px;
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
  color: var(--bs-textdark);
  font-size: 0.9rem !important;
  border-radius: 0.625rem;
  outline: none;
  cursor: pointer;
  padding: 0 5px;
  box-shadow: -3px -3px 6px var(--bs-highlight), 3px 3px 6px var(--bs-shadow);
}

.neu-table-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 7px var(--bs-shadow), -2px -2px 5px var(--bs-highlight);
}

.neu-table {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  border-spacing: 0;
  border-radius: 0.625rem;
  text-align: center;
  overflow: hidden;
  box-shadow: inset 4px 4px 7px var(--bs-shadow),
    inset -3px -3px 5px var(--bs-highlight);
  margin-bottom: 1.5rem;
}

table.neu-table>tbody>tr>td {
  padding: 5px;
  font-size: 18px;
  position: relative;
}

table.neu-table>tbody>tr:hover {
  box-shadow: 0px 4px 5px rgba(51, 51, 51, 0.3),
    0px -3px 5px rgba(51, 51, 51, 0.3);
}

table.neu-table th {
  padding: 7px;
  color: var(--bs-neupurple);
}

.tableNumber {
  color: var(--bs-neupurple);
}

.page-title {
  color: var(--bs-neuorange);
}

table.neu-table thead {
  box-shadow: 0px 2px 7px var(--bs-shadow);
}

.neu-table-filter-button-container {
  padding: 0.625rem;
  width: 100%;
  height: 80%;
  border-radius: 0.625rem;
  box-shadow: inset 4px 4px 7px var(--bs-shadow),
    inset -3px -3px 5px var(--bs-highlight);
}

.neu-table-container button {
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
  color: var(--bs-textdark);
  font-size: 1rem;
  border-radius: 0.625rem;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0.325rem;
  box-shadow: -3px -3px 6px var(--bs-highlight), 3px 3px 6px var(--bs-shadow);
}

.neu-table-container button:hover {
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
  box-shadow: inset -3px -3px 6px var(--bs-highlight),
    inset 3px 3px 6px var(--bs-shadow);
}

.neu-table-clickable {
  cursor: pointer;
}

/*-----------------------------*/
/*---------LOADING CSS---------*/
/*-----------------------------*/
.neu-loader {
  background-color: transparent;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.neu-loader h4 {
  margin: 0;
  padding: 0;
}

.neu-loading-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100px + 2rem);
  border-radius: 0.625rem;
  text-align: center;
  overflow: hidden;
  box-shadow: inset 4px 4px 7px var(--bs-shadow),
    inset -3px -3px 5px var(--bs-highlight);
  margin-bottom: 1rem;
}

.neu-loading-msg {
  background-color: var(--bs-primary);

  background-color: transparent;

  margin: 1rem;
  margin-right: 2rem;
  font-size: 1.5rem;
  animation: textPulse 3s linear infinite alternate;
}

@keyframes textPulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.neu-loading-spinner {
  background-color: var(--bs-primary);

  position: absolute;

  border-radius: 50%;
  animation: shadowSwap 2s linear infinite;
}

.layer {
  background-color: var(--bs-primary);

  position: absolute;
  background-color: transparent;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: -10px -10px 20px var(--bs-highlight),
    10px 10px 20px var(--bs-shadow);
}

.layer1 {
  background-color: var(--bs-primary);
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  animation: shadowSwap 6s linear infinite alternate;
}

.layer2 {
  background-color: var(--bs-primary);
  position: absolute;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  animation: shadowSwap 4s linear infinite alternate-reverse;
}

.layer3 {
  background-color: var(--bs-primary);
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: shadowSwap 2s linear infinite alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shadowSwap {
  0% {
    opacity: 0.2;
    transform: translate(230%, -50%) scale(1);
    box-shadow: 8px 8px 16px var(--bs-shadow),
      -6px -6px 12px var(--bs-highlight);
  }

  49% {
    box-shadow: 1px 1px 1px var(--bs-shadow), -1px -1px 1px var(--bs-highlight);
  }

  50% {
    opacity: 1;
    transform: translate(-270%, -50%) scale(1.2);
    box-shadow: 0px 0px 0px var(--bs-shadow), 0px 0px 0px var(--bs-highlight);
  }

  51% {
    box-shadow: inset 1px 1px 1px var(--bs-shadow),
      inset -1px -1px 1px var(--bs-highlight);
  }

  100% {
    opacity: 0.2;
    transform: translate(230%, -50%) scale(1);
    box-shadow: inset 8px 8px 16px var(--bs-shadow),
      inset -6px -6px 12px var(--bs-highlight);
  }
}

/*-----------------------------*/
/*---------BUTTONS CSS---------*/
/*-----------------------------*/

.neu-button-square {
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
  color: var(--bs-textdark);
  font-size: 1rem;
  border-radius: 0.625rem;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0.325rem;
  box-shadow: -3px -3px 6px var(--bs-highlight), 3px 3px 6px var(--bs-shadow);
}

.neu-button-round {
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
  color: var(--bs-textdark);
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.325rem;
  outline: none;
  text-decoration: none;
  box-shadow: -3px -3px 6px var(--bs-highlight), 3px 3px 6px var(--bs-shadow);
}

.neu-button-login {
  font-size: 1rem;
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
  color: var(--bs-textdark);
  cursor: pointer;
  outline: none;
  box-shadow: -3px -3px 6px var(--bs-highlight), 3px 3px 6px var(--bs-shadow);
}

.neu-button-square:hover,
.neu-button-round:hover,
.neu-button-login:hover {
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-neuturquoise) !important;
  box-shadow: inset -3px -3px 6px var(--bs-highlight),
    inset 3px 3px 6px var(--bs-shadow);
}

.neu-buttons-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* 1 button [ ] */
.neu-buttons-1b {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
}

.neu-buttons-1b button {
  width: 100% !important;
}

/* 2 Buttons [ ] - [ ] */
.neu-buttons-2b-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  padding: 0 12px;
}

.neu-buttons-2b-between button {
  width: 48% !important;
}

.neu-buttons-2b-between-uneven {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.neu-buttons-2b-between-uneven button {
  max-width: 48%;
}

/* 3 Buttons [ ] - [ ] -[ ] */

.neu-buttons-3b-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.neu-buttons-3b-between button {
  width: 30% !important;
}

/* 4 Buttons [ ] - [ ] - [ ] - [ ] */

.neu-buttons-4b-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

.neu-buttons-4b-between button {
  width: 21% !important;
}

/*--------------------------------*/
/*-----------BORDER CSS-----------*/
/*--------------------------------*/
.neu-border {
  content: "";
  width: 100%;
  background-color: var(--bs-neupurple);
  border: 4px solid var(--bs-neupurple);
  box-shadow: inset -2px -2px 1px var(--bs-highlight),
    inset 2px 2px 1px var(--bs-shadow);
}

/*--------------------------------*/
/*-----STYLING VARIABLES CSS------*/
/*--------------------------------*/
.neu-center {
  text-align: center;
}

.neu-left {
  text-align: left;
}

.neu-right {
  text-align: right;
}

.neu-maxw-fit {
  max-width: fit-content !important;
}

.neu-minw-fit {
  min-width: fit-content !important;
}

.neu-maxh-fit {
  max-height: fit-content !important;
}

.neu-minh-fit {
  min-height: fit-content !important;
}

.neu-size-full {
  width: 100% !important;
}

.neu-size-half {
  width: 48% !important;
}

.neu-size-100 {
  width: 100% !important;
}

.neu-size-80 {
  width: 80% !important;
}

.neu-size-70 {
  width: 70% !important;
}

.neu-size-60 {
  width: 60% !important;
}

.neu-size-40 {
  width: 40% !important;
}

.neu-size-30 {
  width: 30% !important;
}

.neu-size-20 {
  width: 20% !important;
}

.neu-size-max {
  width: 100% !important;
  height: 100% !important;
}

.neu-size-2rem {
  width: 2rem !important;
}

.neu-size-4rem {
  width: 4rem !important;
}

.neu-pad-bot-5 {
  padding-bottom: 5% !important;
}
