* {
  background-color: var(--bs-primary);
  color: #303030;
  padding: 0;
  margin: 0;
}

.neu-hard-outer {
  border: 2px solid var(--bs-primary);
  outline: none;
  box-shadow:
    -5px -5px 5px var(--bs-highlight),
    5px 5px 5px var(--bs-shadow);
}

.neu-hard-inner {
  box-shadow:
    -2px -2px 5px var(--bs-highlight) inset,
    2px 2px 5px var(--bs-shadow) inset;
}

.neu-soft-outer {
  box-shadow:
    -10px -10px 30px 0px var(--bs-highlight),
    10px 10px 30px 0px var(--bs-shadow),
    -10px -10px 10px 0px var(--bs-shadow) inset,
    10px 10px 10px 0px var(--bs-highlight)
}

.neu-soft-inner {
  box-shadow:
    10px 10px 30px 0px var(--bs-highlight),
    -10px -10px 30px 0px var(--bs-shadow),
    10px 10px 10px 0px var(--bs-shadow) inset,
    -10px -10px 10px 0px var(--bs-highlight) inset;
}

/* ------------------------------------------------------- */

.neu-prog {
  border-radius: 5px;
  box-shadow:
    inset -2px -2px 2px var(--bs-highlight),
    inset 2px 2px 2px var(--bs-shadow);
}

.neu-prog-bar {
  border-radius: 5px;

}

.neu-prog-inv {

  box-shadow:
    inset 2px 2px 2px var(--bs-highlight),
    inset -2px -2px 2px var(--bs-shadow);
}

.neu-img {
  height: 200px;
  width: 200px;
  margin-bottom: 70px;
  border-radius: 50%;
  border: 1px solid var(--bs-primary);

  box-shadow:
    -8px -8px 5px var(--bs-highlight),
    8px 8px 5px var(--bs-shadow);
}

.neu-button {
  /* width: 80%; */
  border: 2px solid var(--bs-primary);
  outline: none;
  color: var(--bs-textdark);
  text-decoration: none;
  box-shadow:
    -3px -3px 6px var(--bs-highlight),
    3px 3px 6px var(--bs-shadow);
}

.neu-button-s {
  /* max-width: 40%;
  width: 1222245px; */
  border-radius: 30px;
  border: 2px solid var(--bs-primary);
  outline: none;
  color: var(--bs-textdark);
  text-decoration: none;
  box-shadow:
    -3px -3px 6px var(--bs-highlight),
    3px 3px 6px var(--bs-shadow);
}

.neu-button:hover,
.neu-button-s:hover {


  border: 2px solid var(--bs-neuturquoise);
  box-shadow:
    inset -3px -3px 7px var(--bs-highlight),
    inset 2px 2px 5px var(--bs-shadow);
}

.neu-nav {
  width: 80%;
  transform: translate(10%);
  border: 2px solid var(--bs-primary);
  border-radius: 12px;
  outline: none;
  box-shadow:
    -5px -5px 5px var(--bs-highlight),
    5px 5px 5px var(--bs-shadow);
}

.neu-nav-user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
  min-width: 50px;

  border-radius: 5px;
  box-shadow: inset 3px 3px 7px var(--bs-shadow),
    inset -2px -2px 5px var(--bs-highlight);
}


.neu-online-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.4) translate(70%);
  padding: 2px;
  color: var(--bs-neugreen);
  background-color: var(--bs-primary);
  border-radius: 50%;
  transition: all 1s ease;
  box-shadow: -2px -2px 4px var(--bs-highlight),
    2px 2px 4px var(--bs-shadow);
}

.neu-offline-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.4) translate(-70%);
  padding: 2px;
  color: var(--bs-textdark);
  background-color: var(--bs-primary);
  border-radius: 50%;
  transition: all 1s ease-in-out;
  box-shadow:
    -2px -2px 4px var(--bs-highlight),
    2px 2px 4px var(--bs-shadow);
}



/* ------------------------------------------------------- */
.navbar-brand {
  color: #303030;
  text-shadow:
    -4px -4px 4px var(--bs-highlight),
    4px 4px 4px var(--bs-shadow);
  caret-color: #262626;
}

/* ------------------------------------------------------- */
.neu-login {
  background-color: transparent;
  box-shadow:
    inset 3px 3px 7px var(--bs-shadow),
    inset -2px -2px 5px var(--bs-highlight);
  outline: none;
  border: 2px solid var(--bs-primary);
}

.neu-login:focus {
  background-color: transparent;
  box-shadow: inset 3px 3px 7px var(--bs-shadow),
    inset -2px -2px 5px var(--bs-highlight);
  outline: none;
  border: 2px solid var(--bs-neupurple);
}


/* ------------------------------------------------------- */
.neu-card-inset {
  box-shadow:
    inset 2px 2px 5px var(--bs-shadow),
    inset -3px -3px 7px var(--bs-highlight);
}

/* ------------------------------------------------------- */

.modal-content {
  border: 2px solid var(--bs-primary);
  outline: none;

  box-shadow:
    -8px -8px 10px var(--bs-highlight),
    8px 8px 10px var(--bs-shadow);
}

/* ------------------------------------------------------- */
.card,
.modal {
  border: none;
}


/* ------------------------------------------------------- */



/* 

.neu-box-hard-outer {
   display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;

  padding: 0;
  margin: 0;
  height: 250px;
  width: 250px;
  background-color: rgb(239, 241, 245);
  border-radius: 15%; 

  box-shadow:
    -10px -10px 20px 4px rgb(255, 255, 255),
    10px 10px 20px 4px rgba(216, 224, 236, 0.4);
}

.neu-box-hard-inner {
   display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;

  padding: 0;
  margin: 0;
  height: 250px;
  width: 250px;
  background-color: rgb(239, 241, 245);
  border-radius: 15%; 

  box-shadow:
    -10px -10px 20px 0px var(--bs-highlight) inset,
    10px 10px 20px 0px rgba(216, 224, 236, 0.2) inset;
}

.neu-box-soft-outer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;

  padding: 0;
  margin: 0;
  height: 250px;
  width: 250px; 
  background-color: rgb(239, 241, 245);
  border-radius: 15%;

  box-shadow:
    -10px -10px 30px 0px rgb(255, 255, 255),
    10px 10px 30px 0px rgba(216, 224, 236, 0.4),
    -10px -10px 10px 0px rgba(216, 224, 236, 0.25) inset,
    10px 10px 10px 0px rgb(255, 255, 255) inset;
}



.neu-box-soft-inner {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;

  padding: 0;
  margin: 0;
  height: 250px;
  width: 250px;
  background-color: rgb(239, 241, 245);
  border-radius: 15%; 
  box-shadow:
    10px 10px 30px 0px rgb(255, 255, 255),
    -10px -10px 30px 0px rgba(216, 224, 236, 0.4),
    10px 10px 10px 0px rgba(216, 224, 236, 0.25) inset,
    -10px -10px 10px 0px rgb(255, 255, 255) inset;
}


.neu-circle-soft {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;

  padding: 0;
  margin: 0;
  height: 250px;
  width: 250px;
  background-color: rgb(239, 241, 245);
  border-radius: 50%;
  box-shadow:
    -4px -4px 6px 0px rgb(255, 255, 255),
    4px 4px 6px 0px rgba(216, 224, 236, 0.2),
    4px 4px 6px 0px rgb(255, 255, 255) inset,
    -4px -4px 6px 0px rgba(216, 224, 236, 0.20) inset;
}


.neu-circle-hard {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;

  padding: 0;
  margin: 0;
  height: 250px;
  width: 250px;
  background-color: rgb(239, 241, 245);
  border-radius: 50%;
  box-shadow:
    -20px -20px 20px 0px rgba(255, 255, 255, 0.66),
    10px 10px 20px 0px rgba(216, 224, 236, 0.4),
    4px 4px 6px 0px rgb(255, 255, 255) inset;
} */
